<% wrap_layout :layout do %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <article>
         <header class="page-title article-title">
          <h1><%= current_article.title %></h1>
           <div class="article-author">
            Andrew Duckworth
           </div>
           <div class="article-date">
            <%= current_article.date.strftime('%B %e, %Y') %>
           </div>
        </header>
        <div class="row">
          <div class="col-md-8">
            <section class="article-boby">
              <%= yield %>
            </section>
          </div>
          
          <div class="col-md-4">
            <aside class="sidebar">
              <h3>Recent portfolio items</h3>
              <ul class="list-unstyled">
                <% page_articles('portfolio').each_with_index do |article, i| %>
                  <li><%= link_to article.title, article %></li>
                <% end %>
              </ul>
              
              <h3>Recent blog posts</h3>
              <ul class="list-unstyled">
                <% page_articles('blog').each_with_index do |article, i| %>
                  <li><%= link_to article.title, article %></li>
                <% end %>
              </ul>
            </aside>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<% end %>